
        body#b {
            color: black;
background-color: white;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
}
.center{
    margin: 50px;
    text-align: center;
}
footer {
  text-align: center;
  padding: 25px;
  background-color: #B1AEAD;
  color: black;
}
nav{
  background-color: #B1AEAD;
  padding: 25px;
  text-align: center;
  color: black;
}
   img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
   }
   #navs a{
     padding: 50px;
     font-size: larger;
        }
   #imgs{
    position: absolute;
    left: 16px;
    top: 25px;
    width: 56px;
    height: 46px;
   }
   .intro{
     border: black;
    position: absolute;
    top: 20%;
    left: 35%;
    padding-right: 80px;
   }
   .intro p{
   padding: 25px;
    border-style: solid;
   }
   