body#a {
    color: black;
    padding: 0px;
    background-color: white;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100%;
}

table#site {
margin-left: auto;
margin-right: auto;
margin-top: 7%;
margin-bottom:50px;
}
table {
    border:1px solid black;
text-align: center;
color: black;

}
h1{
    color: black;
}
th, td{
    border:1px solid black;
text-align: center;
color: black;
padding: 45px;

}

.center{
margin: 50px;
text-align: center;
}
img{
    width: 45px;
    height: 45px;
    margin-left: 30px;
}
footer {
    text-align: center;
    padding: 25px;
    background-color: #B1AEAD;
    color: black;
  }
 
  nav{
    background-color: #B1AEAD;
    padding: 25px;
    text-align: center;
    color: black;
  }
  #navs a{
    padding: 50px;
    font-size: larger;
       }
       #imgs{
        position: absolute;
        left: 16px;
        top: 50px;
        width: 76px;
        height: 66px;
       }